/*Sección 1 */
.night-blooming-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f1ec; /* Color de fondo, ajusta según tu diseño */
  padding: 0%;
  color: black; /* Color del texto */
}

.video-container {
  width: 55%; /* Ajusta el ancho según necesidades */
  padding: 10px;
}

.video-container video {
  width: 100%; /* Asegura que el video ocupe todo el contenedor */
  border-radius: 8px; /* Bordes redondeados */
}

.night-blooming-section .text-container {
  width: 40%; /* Ajusta el ancho según necesidades */
  padding: 3%;
}

.text-container h2 {
  margin-top: 0; 
  font-family: Marcellus;
  font-size:1.3rem;

}

.text-container h3 {
  margin-top: 5px; /* Espacio entre los títulos */
  font-family: "Libre Baskerville", serif;
  font-size:2.4rem;
  font-weight: 700;
}

.text-container p {
  font-family: Marcellus;
  text-align: left;/* Justifica el texto para un mejor aspecto */
  font-size:1.1rem;
}
@media (max-width: 768px) {
  .night-blooming-section {
      flex-direction: column;
  }

  .video-container, .text-container {
      width: 100%; /* Los contenedores ocupan todo el ancho en móviles */
  }
  .night-blooming-section .text-container {
    width: 95%; /* Ajusta el ancho según necesidades */
    padding: 3%;
  }
}
/*Sección 2*/

.section-nombre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3%;
  color: #f4f1ec;
}

.text-container {
  width: 50%; /* O ajusta según tus necesidades */
  padding: 2%;
}

.image-container {
  display: flex; /* Usa flexbox para el contenedor */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* Asegúrate de que el contenedor tenga una altura si es necesario */
  padding: 20px;

}

.image-container img {
  width: 60%; /* Asegura que la imagen sea responsiva */
  height: auto;
  border-radius: 8px; /* Bordes redondeados opcional */
}

/* Estilos para los títulos y textos */
.section-nombre .text-container h2 {
  font-family: Marcellus;  
}
.section-nombre .text-container h3 {
  font-family: "Libre Baskerville";
}

.section-nombre .text-container p {
  text-align: left; /* Justifica el texto para un mejor aspecto */
  /* Espaciado entre líneas para mejorar legibilidad */
}
@media (max-width: 768px) {
  .section-nombre {
      flex-direction: column;
  }

  .text-container, .image-container {
      width: 100%; /* Los contenedores ocupan todo el ancho en dispositivos móviles */
  }
}
/*Seccion 3 Talento humano */
.talent-section {
  background-image: linear-gradient(0deg, rgba(0,0,1,0.4), rgba(0,0,0,0.3)), url('images/Compromiso.jpg');
  display: flex;
  justify-content: center;
  align-items: end;
  height: 500px; /* Ajusta según tus necesidades */
  background-size: cover;
  background-position: center;
  color: white; /* Para mejor contraste con un fondo oscuro */
}

.content {
  width: 50%; /* Ajusta el ancho del contenido según prefieras */
  padding: 2%; /* Centra el texto horizontalmente */
  font-family: Marcellus;
}

.content h1 {
  font-size: 3rem; /* Aumenta el tamaño del título */
  margin-bottom: 0.5em; /* Espacio después del título */
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

.content p {
  font-size: 1.2em; /* Tamaño adecuado para el texto descriptivo */
  line-height: 1.5; /* Espaciado de línea para mejorar la legibilidad */
  font-family: Marcellus;
}
@media (max-width: 768px) {
  .talent-section {
      height: auto; /* Altura automática en dispositivos móviles */
  }

  .content {
      width: 90%; /* Más ancho en pantallas pequeñas para utilizar más espacio */
      padding: 10px; /* Menos padding en dispositivos móviles */
  }
}
/*Seccion 4 Nuestros valores */

.u-section-5  {
  background-color: #f4f1ec;
  color:black;
}

.u-section-5 .u-sheet-1 {
  min-height: 552px;
}
.u-section-5 h1 {
  font-weight: 700;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 388px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10%;
}
.u-section-5 h1 {
  text-align:left;
  margin:3%;
  font-family: "Libre Baskerville", serif;
}
.u-section-5 .u-icon-1 {
  width: 100%;
  margin: 0 auto;
}

.u-section-5 .u-text-1,.u-section-5 .u-text-3,.u-section-5 .u-text-5 {
  font-family: "Libre Baskerville", serif;
  font-size:2.3rem;
}

.u-section-5 .u-text-2 {
  font-family: Marcellus;
  font-size: 0.875rem;
  margin: 5% 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 10%;
}

.u-section-5 .u-icon-2 {
   width: 100%;
  margin: 0 auto;
}


.u-section-5 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10%;
}

.u-section-5 .u-icon-3 {
  width: 100%;
  margin: 0 auto;
}


.u-section-5 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 735px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*Contenedor de imagen y video */
.mediaSection {
  font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}


.media-section {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
}

.media-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; /* Para permitir que los elementos se envuelvan en pantallas pequeñas */
}

.media-item {
  flex: 1;
  margin: 10px;
  position: relative;
  overflow: hidden;
  height: 300px; /* Establece una altura uniforme */
}


.media-item img {
  width: 100%;
  height: 80%;
  object-fit: cover; /* Asegura que las imágenes y videos se escalen correctamente sin distorsión */
  border-radius: 8px;
}
.media-item iframe {
  width: 110%;
  height: 80%;
  object-fit:cover ; /* Asegura que las imágenes y videos se escalen correctamente sin distorsión */
  border-radius: 8px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilo responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .media-container {
      flex-direction: column; /* Alinea los elementos en columna para pantallas pequeñas */
  }

  .media-item {
      height: auto; /* Permite que los elementos ajusten su altura según el contenido */
      margin-bottom: 20px;
  }

  .media-item img,
  .media-item iframe {
      width: 100%;
      height: 250px; /* Ajusta la altura automáticamente en pantallas pequeñas */
      object-fit: contain; /* Evita recortar demasiado el contenido en pantallas pequeñas */
  }
  .video-container{
    width:100%;
  }
  .media-item iframe {
  width: 100%;
  height: 10%;
  object-fit:cover ; /* Asegura que las imágenes y videos se escalen correctamente sin distorsión */
  border-radius: 8px;
  position: static;

  transform: translate(0%, 0%);
}
}