
/*Parte del formulario de contactos */

/* Contenedor principal del formulario */
.form-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;  /* Ajuste al color de fondo */
  padding: 5%;
  color: #fff;
  font-family: "Libre Baskerville", serif;
  padding:5% 10% 0% 10%;
}

/* Estilos para la sección de contacto */
.contact-details {
  margin-left:20px;
  width: 50%;
  font-size: 15px;
}

.contact-details h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-details p {
  font-family: Marcellus;
  margin: 10px 0;
  line-height: 1.2;
}

/* Estilos para la sección del formulario */
.form-section {
  width: 70%;
}

.form-section h3 {
  font-family: "Libre Baskerville", serif;
  font-size: 28px;
  margin-bottom: 20px;
}

/* Campos del formulario */
.form-section input[type="text"],
.form-section input[type="email"],
.form-section textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  background:none; /* Fondo similar al tema */
  color: white;
  font-size: 16px;
  font-family: "Libre Baskerville", serif;
}

.form-section input[type="text"]::placeholder,
.form-section input[type="email"]::placeholder,
.form-section textarea::placeholder {
  color: #ccc;
}

.form-section textarea {
  resize: none;
  height: 150px; /* Ajuste de altura del textarea */
}

/* Botón de enviar */
.form-section button {
  background-color: #fff;
  color: #0c3621;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
   font-weight:600;
  transition: background-color 0.3s ease;
}

.form-section button:hover {
  background-color: #ccc;
  color: #0c3621;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .form-container {
      flex-direction: column;
      align-items: center;
      padding: 20px;
  }

  .contact-details, 
  .form-section {
      width: 100%;
  }

  .contact-details h2, 
  .form-section h3 {
      text-align: center;
  }

  .form-section button {
      width: 100%;
      text-align: center;
  }
}


/* Sección del Mapa */
.map-section {
  margin-top: 50px; /* Espacio entre la sección de contacto y el mapa */
  padding: 20px;/* Color de fondo acorde con el tema */
  text-align: center;
}

/* Contenedor del mapa */
.map-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px; /* Ajusta el ancho máximo del mapa */
  border-radius: 10px;
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 300px;
  border: none;
}

/* Responsivo para móviles */
@media (max-width: 768px) {
  .map-container iframe {
      height: 250px; /* Ajusta la altura del mapa para pantallas pequeñas */
  }
}

