 .u-section-1 {
  background-image: url("images/_MG_0907.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 245px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 640px;
}

.u-section-2 .u-image-1 {
  width: 670px;
  height: 99px;
  margin: 52px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: Marcellus;
  font-size: 1.75rem;
  margin: 77px 411px 0 auto;
}

.u-section-2 .u-form-1 {
  height: 318px;
  margin: 11px 0 0 570px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

.u-section-2 .u-text-2 {
  font-family: Marcellus;
  font-size: 1.25rem;
  margin: -287px 680px 0 63px;
}

.u-section-2 .u-text-3 {
  margin: 18px 639px 147px 63px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 339px;
  }

  .u-section-2 .u-form-1 {
    margin-left: 470px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 542px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 501px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 260px;
  }

  .u-section-2 .u-form-1 {
    margin-left: 250px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 322px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 80px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 195px;
  }

  .u-section-2 .u-form-1 {
    margin-left: 70px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 142px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 101px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 50px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 123px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-form-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 296px;
  }
}